.service-heading {
    margin: 15px 0;
    text-transform: none;
  }
  
  
.masthead .intro-text .intro-heading {
    color: black;
    font-size: 10px;
    font-family: "Proxima Nova bold";
    position: relative;
  }
  
  
    .masthead .intro-text .intro-lead-in {
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
      font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .masthead .intro-text .intro-heading {
      font-size: 40px;
      font-weight: 700;
      line-height: 75px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  
    
  