<!DOCTYPE html>
<html>
  <title>Office Hours</title>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        type="text/css"
        href="assets/style.css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.contact {
  padding-top: 102px;
}

  </style>

  <body>
    <div (scroll)="onScroll($event)">
      <!-- Navbar (sit on top) -->
      <!-- Header with full-height image -->
      <header class="bgimg-1 w3-display-container "
              id="home">
        <div class="  w3-large"
             style="position:centre;padding:24px 48px; color:white;"> <a href="https://facebook.com/ahmed.lozanov"><i  class="fa fa-facebook-official w3-hover-opacity"></i></a> <a href="https://instagram.com/ahmedellouzy"><i class="fa fa-instagram w3-hover-opacity"></i></a> <i class="fa fa-snapchat w3-hover-opacity"></i> <i class="fa fa-pinterest-p w3-hover-opacity"></i> <i class="fa fa-twitter w3-hover-opacity"></i>          <i class="fa fa-linkedin w3-hover-opacity"></i> </div> <br>
        <div class=" w3-text-white"
             style="padding:48px;     text-align: center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif "> <span class="w3-jumbo w3-hide-small">Start something that matters</span><br> <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something that matters</span><br> <span class="w3-large">RISEUP OFFICE HOURS is your platform to success . . .</span>
          <p><a (click)="onClick()"
               class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Know more and ask today</a></p>
        </div> <br> <br> <br> <br> <br> <br> <br> <br>
        <div class="header"
             id="myHeader">
          <div class="w3-bar w3-card "
               id="myNavbar"> <a href="#home"><img  src="assets/logo.png"  style="height:65px;width:150px" alt="logo"></a>
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small"> <a href="#requests"
                 class="w3-bar-item w3-button w3-hover-white">HOME  <i class="fa  fa-home"></i> </a> <a href="#schedule"
                 class="w3-bar-item w3-button w3-hover-white">ABOUT</a> <button class="w3-button "
                      style="background-color:#FCE200"
                      type="submit"
                      (click)="signin()">
            LOGIN  <i class="fa fa-sign-in"></i>
          </button> <button class="w3-button "
                      style="background-color:#FCE200;"
                      type="submit"
                      (click)="signup()">
            SIGN UP  <i class="fa fa-user-plus"></i>
          </button> <button class="w3-BLACK "
                      style="background-color:transparent; visibility:hidden;"
                      type="submit">

          </button> </div>
          </div>
        </div>
      </header>
      <!-- About Section -->
      <!-- Modal for full size images on click-->
      <div id="modal01"
           class="w3-modal w3-black"
           onclick="this.style.display='none'"> <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright"
              title="Close Modal Image">×</span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64"> <img id="img01"
               class="w3-image">
          <p id="caption"
             class="w3-opacity w3-large"></p>
        </div>
      </div>
      <section style="height: 770px;" id="services">
        <br><br><br><br><br>
          <div  class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                  <div class="masthead">
                      <div class="intro-text">
                      <div class="intro-heading text-uppercase">Services</div>
                     
                    </div>
                    </div>
              </div>
            </div>
            <br><br>
            <br><br>

            <div class="row text-center">
              <div class="col-md-4">
                <span   class="fa-stack fa-4x">
                  <i  class="fa fa-circle fa-stack-2x "></i>
                  <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                </span>
                <div class="masthead">
                    <div class="intro-text">
                    <div style="font-size: 14px" class="intro-heading text-uppercase">Office Hours</div>
                   
                  </div>
                  </div>
                <p class="text-muted">You can communicate with a lot of experts and ask them what you want ;)</p>
              </div>
              <div class="col-md-4">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x "></i>
                  <i style="color:#FCE200" class="fa fa-play fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Chat & Video</h4>
                <p class="text-muted">We offer you a chat session or chat and video session with expert so you can coummincate easily and faster </p>
              </div>
              <div class="col-md-4">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x "></i>
                  <i style="color:#FCE200" class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Web Security</h4>
                <p class="text-muted">The website is very safe to make you want to do </p>
              </div>
            </div>
          </div>
        </section>
      <!-- Contact Section -->
      <div class="w3-container w3-light-grey"
           style="padding:128px 16px"
           id="contact">
        <h3 class="w3-center">CONTACT</h3>
        <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
        <div style="margin-top:64px">
          <div class="w3-half">
            <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Chicago, US</p>
            <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>
            <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p> <br>
            <form action="/action_page.php"
                  target="_blank">
              <p><input class="w3-input w3-border"
                       type="text"
                       placeholder="Name"
                       required
                       name="Name"></p>
              <p><input class="w3-input w3-border"
                       type="text"
                       placeholder="Email"
                       required
                       name="Email"></p>
              <p><input class="w3-input w3-border"
                       type="text"
                       placeholder="Subject"
                       required
                       name="Subject"></p>
              <p><input class="w3-input w3-border"
                       type="text"
                       placeholder="Message"
                       required
                       name="Message"></p>
              <p> <button class="w3-button w3-black"
                        type="submit">
            <i class="fa fa-paper-plane"></i> SEND MESSAGE
            </button> </p>
            </form>
          </div>
        </div>
      </div>
      <script>
window.onscroll = function()
{
  myFunction()
};
var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction()
{
  if (window.pageYOffset >= sticky)
  {
    header.classList.add("sticky");
  }
  else
  {
    header.classList.remove("sticky");
  }
}

      </script>
    </div>
  </body>

</html>
