@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

#logo {
  font-family: "Roboto", Arial, sans-serif;
  color: #DB0C18;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
}

#requester{
  position: fixed;bottom: 0;right: 0
}

#logo:after {
  content:"dreamdealer";
  position: absolute;
  left: 8px;
  top: 32px;
}
#logo:after {
  /*background: url(https://subtlepatterns.com/patterns/crossed_stripes.png) repeat;*/
  background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
  background-size: 4px 4px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -5;
  display: block;
  text-shadow: none;
}
#menu {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 10px 0 0 0; padding: 25px 10px;
  border-top: 4px double #AAA;
  border-bottom: 4px double #AAA;
  position: relative;
  text-align: center;
}
#menu li {
  display: inline-block;
  width: 173px;
  margin: 0 10px;
  position: relative;
  -webkit-transform: skewy(-3deg);
  -webkit-backface-visibility: hidden;
  -webkit-transition: 200ms all;
}
#menu li a {
  text-transform: uppercase;
  font-family: 'Squada One', cursive;
  font-weight: 800;
  display: block;
  background: #FFF;
  padding: 2px 10px;
  color: #333;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
  text-shadow:
        1px 1px 0px #FFF,
        2px 2px 0px #999,
        3px 3px 0px #FFF;
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.05) 100%);
    -webkit-transition: 1s all;
    background-image: -webkit-linear-gradient(left top,
        transparent 0%, transparent 25%,
        rgba(0,0,0,.15) 25%, rgba(0,0,0,.15) 50%,
        transparent 50%, transparent 75%,
        rgba(0,0,0,.15) 75%);
  background-size: 4px 4px;
    box-shadow:
        0 0 0 1px rgba(0,0,0,.4) inset,
        0 0 20px -5px rgba(0,0,0,.4),
        0 0 0px 3px #FFF inset;
}
#menu li:hover {
    width: 203px;
    margin: 0 -5px;
}
#menu a:hover {
  color: #d90075;
}
#menu li:after,
#menu li:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 75%;
  background: #BBB;
  -webkit-transform: skewY(8deg);
  x-index: -3;
    border-radius: 4px;
}
#menu li:after {
    background-image: -webkit-linear-gradient(left, transparent 0%, rgba(0,0,0,.4) 100%);
  right: 0;
  top: -4px;
}
#menu li:before {
  left: 0;
  bottom: -4px;
    background-image: -webkit-linear-gradient(right, transparent 0%, rgba(0,0,0,.4) 100%);
}
/* =======================================================
*
* 	Template Style
*	Edit this section
*
* ======================================================= */

body {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.5);


}
@media screen and (max-width: 992px) {
  body {
    font-size: 16px;
  }
}

.experts-main {
  background-color: #f9f9f9;
  color: #191919;
  overflow: scroll;
  height: 100%;
}

.experts-side-bar-menu {

  width: 350px;
  padding: 0;
  position: relative;
}

.experts-side-bar {
  height: 100%;
  overflow: none;
  background-color: white;
  padding: 30px;
}

.experts-side-bar label{
  color: #fff;
}

.experts-menu{
  padding-left: 10px;
  padding-top: 40px;
  list-style-type: none;
}

.experts-main-content {
  width: calc(100% - 350px);
}

.experts-items-list {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  list-style: none;
}

.experts-item-list{
  width: 25%;
  padding: 45px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  background-color: #fff;
  margin: 20px;
}

.experts-item-list:hover{
  opacity: 0.5;
}

a {
  color: #FCE200;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #FCE200;
  outline: none;
}

p {
  margin-bottom: 1.5em;
}


.fh5co-gallery {
  position: relative;
  margin-bottom: 7em;
  float: left;
  width: 100%;
}
.fh5co-gallery .gallery-item {
  width: 25%;
  height: 430px;
  position: relative;
  overflow: hidden;
  float: left;
}
.fh5co-gallery .gallery-item img {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
@media screen and (max-width: 1200px) {
  .fh5co-gallery .gallery-item {
    width: 33.3333%;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-gallery .gallery-item {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .fh5co-gallery .gallery-item {
    width: 100%;
  }
}
.fh5co-gallery .gallery-item .overlay {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 0;
  vertical-align: middle;
  padding-top: 30%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-gallery .gallery-item .overlay h2, .fh5co-gallery .gallery-item .overlay span {
  position: relative;
  z-index: 12;
  margin-bottom: 0;
  text-align: center;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-gallery .gallery-item .overlay h2 {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 10px;
  bottom: -15px;
}
@media screen and (max-width: 768px) {
  .fh5co-gallery .gallery-item .overlay h2 {
    font-size: 18px;
  }
}
.fh5co-gallery .gallery-item .overlay span {
  color: #FCE200;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  bottom: -5px;
  visibility: hidden;
  opacity: 0;
}

.fh5co-gallery .gallery-item .overlay:before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius:2%;
}
.fh5co-gallery .gallery-item:hover img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.fh5co-gallery .gallery-item:hover .overlay {
  visibility: visible;
  opacity: 1;


}
.fh5co-gallery .gallery-item:hover .overlay:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.fh5co-gallery .gallery-item:hover .overlay h2 {
  bottom: 0px;
}
.fh5co-gallery .gallery-item:hover .overlay span {
  visibility: visible;
  opacity: 1;
  bottom: 0px;
}


.masthead {
  text-align: center;
  color: white;
  width: 100%;
  background-image: url("assets/login.png");
  background-color: #FCE200;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
  width: 100%;

}

.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.masthead .intro-text .intro-heading {
  color: #DB0C18;
  font-size: 4.28571em;
  font-family: "Proxima Nova bold";
  position: relative;
  z-index: 10;
  max-width: 60%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  .masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}